@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Estilos personalizados
.buttoncito  {
  background-color: #22096F;
  margin-Top: 15px;

  color: #FFFFFF;
  width: 8.6rem;
  height: 2.6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

Link{
  text-decoration:none;
}

.custom-link {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer; /* Agrega un cursor de tipo puntero para indicar que es un enlace */
}


.iconUser{
  height: 2rem;
  width: 2rem;
}

/* Estilos para cambiar el color del icono del menú hamburguesa */
.navbar-toggle-custom .navbar-toggler-icon {
  color: #ffffff; /* Cambia este valor al color deseado */
}

.azulbg{
  background-color: #101488;
}

.bordesito{
  border: solid 3px;
  border-radius: 25px;
  border-color: #22096F;
  padding: 2em;
  margin-top: 15px;
}

.titulo{
  margin-top: 5rem;
}

.bouttoncancel{
  height: 2.5rem;
  border: solid 3px;
  border-radius: 10px;
  border-color: #22096F;
  color: #22096F;
  background-color: #FFFFFF;
  margin-right: 10px;
  width: 200px;
  font: bold;
}

.buttonRegistrar{
  height: 2.5rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #22096F;
  border-color: #22096F;
  margin-right: 10px;
  width: 200px;
  font: bold;
}