.rojo{
    display: flex;
    align-items: baseline;
    background-color: brown;
}

.leftBanner{
    height: '100vh';
    display: 'flex';
    flex-direction: 'column';
    justify-Content: 'flex-start';
    background-color: #717174;
}

.topBanner{
    background-color: #4e4e4f;
}

.containerx{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.logoPas{
    width: '20px';
    margin-inline: 10px;
    padding: '0';
}